<nav>
  <div class="nav-wrapper light-blue center">
    <a href="#" class="brand-logo"><img src="/img/logo.png" alt="ng-cruise logo"></a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'speakers'}}Speakers{{/link-to}}</li>
    </ul>
  </div>
</nav>