<div>
    <h1 class="center-align light-blue-text">
        About ng-cruise
    </h1>
</div>
<div class="center-align">
    To find out more ng-cruise, visit the <a href="http://ngcruise.com">site</a>!
</div>
