<h1 class="center-align light-blue-text">
    Info about the cruise
</h1>

<div class="center-align">
    <p>
        This is some info about the cruise. Visit <a href="http://ngcruise.com">ngcruise.com</a>
    </p>
</div>
