
  <nav>
    <div class="nav-wrapper light-blue">
      <a href="#" class="brand-logo"><img src="/img/logo.png" alt="ng-cruise logo"></a>
      <ul id="nav-mobile" class="right">
        <li><a href="#">#</a></li>
        <li><a href="#">#</a></li>
        <li><a href="#">#</a></li>
      </ul>
    </div>
  </nav>

{{outlet}}        